<nav id="top-nav" class="navbar navbar-default navbar-fixed-top">
    <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="icon-dashboard"></i>&nbsp;Dashboard</a></li>
        <li class="active"><i class="icon-calendar"></i>&nbsp;Calendar</li>
    </ol>
</nav>

<div class="row">
    <div style="overflow: auto; margin-top: 10px;" class="panel panel-primary">
        <div class="panel-heading">Calendar
            <span class="pull-right" style="margin-right:15px;" ng-show="calendarLoading">
                    <img style="display:inline-block" src="images/ajax-loader-reverse.gif" />
                </span>
        </div>
        <div class="panel-body">
            <div ui-calendar="uiConfig.calendar" config="uiConfig.calendar" calendar="calendar" ng-model="eventSources"></div>
        </div>
    </div>
</div>
